* {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  font-weight: normal;
  text-wrap: wrap;
  word-wrap: break-word;
}

.body {
  text-align: center;
  display: grid;
  place-items: center;
}

/* -- Font Sizes, Padding, Weight, etc -- */
h1 {
  font-size: 75px;
}

h2 {
  font-size: minmax(36px, 1fr);
  text-decoration: underline rgb(255, 217, 0);
}

h3 {
  font-size: minmax(24px, 1fr);
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: minmax(20px, 1fr);
  padding: 10px;
  font-weight: 300;
  line-height: 150%;
}

span {
  min-width: fit-content;
  font-size: minmax(20px, 1fr);
}

/* -- Navigation Bar -- */

nav {
  padding-left: 2vw;
}

.headerLogo {
  text-decoration: none;
  color: white;
}

.headerLogo h3 {
  flex-direction: row;
  text-decoration: none;
  color: white;
  text-wrap: nowrap;
  font-size: 35px;
  max-width: 500px;
}

@media all and (orientation: portrait) {
  .headerLogo h3 {
    flex-direction: row;
    text-decoration: none;
    color: white;
    text-wrap: nowrap;
    font-size: 5vw;
    max-width: 500px;
  }
}

.headerLogo h3:hover {
  color: rgb(255, 217, 0);
  transition: 0.5s;
}

/* -- Header Image --*/

.header.header {
  display: grid;
  place-items: center;
  background: url("background.jpg") no-repeat fixed;
  height: 99svh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header {
  text-wrap: wrap;
  display: grid;
  width: 100%;
  min-width: fit-content;
  text-align: center;
}

@media all and (orientation: portrait) {
  .header {
    text-wrap: wrap;
    display: grid;
    width: 100%;
    min-width: fit-content;
    font-size: 3vw;
  }
}

/* -- Header -- */

.headerBar {
  background-color: rgb(36, 51, 115);
  width: 100%;
  height: 10vh;
  min-height: 100px;
  display: block;
  position: sticky;
  top: 0;
  place-content: center;
  z-index: 99;
}

.titleBox {
  color: white;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  padding-right: 25%;
  min-width: fit-content;
}

@media all and (orientation: portrait) {
  .titleBox {
    color: white;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    min-width: fit-content;
  }
}

.titleBox a:link {
  text-decoration-color: #b0ffff;
}

.titleBox a:visited {
  text-decoration-color: #b0ffff;
}

.titleBox a:hover {
  text-decoration-color: rgb(255, 217, 0);
  transition: 0.5s;
}

.titleBox a:active {
  text-decoration-color: rgb(255, 217, 0);
}

.bioBox {
  color: white;
  height: fit-content;
  width: fit-content;
  padding-left: 10%;
  padding-right: 10%;
  min-width: fit-content;
  font-size: 3vh;
}

@media all and (orientation: portrait) {
  .bioBox {
    color: white;
    height: fit-content;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    min-width: fit-content;
    font-size: 4vw;
  }
}

.button {
  background-color: #b0ffff;
  border: none;
  color: #1a1f46;
  padding: 6px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;
}

.button1 {
  font-size: 10px;
}

.button2 {
  font-size: 12px;
}

.button3 {
  font-size: 16px;
}

@media all and (orientation: portrait) {
  .button3 {
    font-size: 3vw;
  }
}

.button4 {
  font-size: 20px;
}

.button5 {
  font-size: 24px;
}
