/* #region default */
* {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  font-weight: normal;
  text-wrap: wrap;
  word-wrap: break-word;
  overflow-x: hidden;
}

*::selection {
  background-color: #b0ffff;
  color: #1a1f46;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1f46;
}

::-webkit-scrollbar-thumb {
  background: #b0ffff;
}

html,
body a {
  cursor: url("favicon.ico"), auto;
}

a:link {
  text-decoration-color: #b0ffff;
  color: white;
}

a:visited {
  text-decoration-color: #b0ffff;
  color: white;
}

a:hover {
  text-decoration-color: rgb(255, 217, 0);
  transition: 0.5s;
}

a:active {
  text-decoration-color: rgb(255, 217, 0);
}

body {
  display: grid;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}


h1 {
  font-size: 75px;
}

h2 {
  font-size: minmax(36px, 1fr);
  text-decoration: underline rgb(255, 217, 0);
}

h3 {
  font-size: minmax(24px, 1fr);
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: minmax(20px, 1fr);
  padding: 10px;
  font-weight: 300;
  line-height: 150%;
}

span {
  min-width: fit-content;
  font-size: minmax(20px, 1fr);
}

nav {
  padding-left: 2vw;
}

@media all and (orientation: portrait) {
  nav {
    padding-left: 4vw;
  }
}

/* #endregion */

.codebadges img {
  width: max-content;
}

.projects {
  font-size: min(1.3vw, 20px);
}

@media all and (orientation: portrait) {
  .codebadges img {
    width: auto;
    height: 3vh;
  }

  .projects.codebadges img {
    height: 15vh;
    width: auto;
  }
}

.navText {
  text-decoration: none;
  flex-direction: row;
  color: white;
  text-wrap: nowrap;
  font-size: 32px;
  max-width: 500px;
}

@media all and (orientation: portrait) {
  .navText {
    flex-direction: row;
    text-decoration: none;
    color: white;
    text-wrap: nowrap;
    font-size: 5vw;
    max-width: 500px;
    overflow: visible;
  }
}

.navText:hover {
  color: rgb(255, 217, 0);
  transition: 0.5s;
}

/* -- Header Image --*/

.header {
  background: url("background.jpg") no-repeat fixed;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  text-wrap: wrap;
  width: 100%;
  min-width: fit-content;
}

@media all and (orientation: landscape) and (max-height: 610px) {
  .header.header {
    display: grid;
    place-items: center;
    background: url("background.jpg") no-repeat fixed;
    height: fit-content;
    width: 100%;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
  }
}

@media all and (orientation: portrait) {
  .header {
    text-wrap: wrap;
    display: grid;
    width: 100%;
    min-width: fit-content;
    font-size: 3vw;
  }

  .header.header {
    display: grid;
    place-items: center;
    background: url("background.jpg") no-repeat fixed;
    height: 100svh;
    width: 100%;
    background-position-x: center;
    background-position-y: top;
    background-size: auto 150vh;
    position: relative;
    top: 10vh;
    place-content: center;
    overflow-y: scroll;
    overflow: hidden;
  }
}

.navBar {
  background-color: rgba(36, 50, 115, 0.95);
  width: 100vw;
  height: 10vh;
  min-height: 90px;
  position: fixed;
  top: 0;
  place-content: center;
  z-index: 99;
}

.titleBox {
  color: white;
  height: 100vh;
  width: 100vw;
  min-width: fit-content;
}

.mainBox {
  padding-left: 25%;
  padding-right: 25%;
  color: white;
  height: fit-content;
  position: relative;
  top: 18vh
}

.mainBox.nopadding {
  margin-left: -25%;
  margin-right: -25%;
}

@media all and (orientation: portrait) {
  .titleBox {
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    min-width: fit-content;
    width: calc(100% - 20px);
  }

  .mainBox {
    padding-left: 0;
    padding-right: 0;
  }
}

#textarea-container {
  text-align: center;
}

.bigtextarea {
  color: #000;
  width: min(100%, 600px);
  height: 20vh;
  margin-bottom: 10px;
}

.centerBox {
  position: relative;
  display: flex;
  flex-direction: column;
  top: max(10vh, 100px);
  color: white;
  height: fit-content;
  width: fit-content;
  padding-left: 10%;
  padding-right: 10%;
  min-width: fit-content;
  font-size: 1.5vw;
  overflow: visible;
}

@media all and (orientation: portrait) {
  .centerBox {
    color: white;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    min-width: fit-content;
    font-size: 4vw;
  }
}

/* #region tgw */
.wardentitle {
  font-size: 180%;
}

.wardenlinks {
  font-size: 120%;
}

@media all and (orientation: landscape) {
  .wardentitle {
    font-size: min(3vw, 32px);
  }

  .wardenlinks {
    font-size: min(2vw, 27px);
  }

  .wardencontent {
    font-size: min(1.7vw, 24px);
  }

  .wardenrecruit {
    font-size: min(1.3vw, 20px);
  }
}

/* #endregion */

/* #region button */
.button {
  background-color: #b0ffff;
  border: none;
  color: #1a1f46;
  padding: 1vh 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  background-color: #1a1f46;
  color: #b0ffff;
  transition: 0.2s;
}

.button1 {
  font-size: 10px;
}

.button2 {
  font-size: 12px;
}

.button3 {
  font-size: min(1.5vw, 20px);
}

@media all and (orientation: portrait) {
  .button3 {
    font-size: 3vw;
  }
}

.button4 {
  font-size: 20px;
}

.button5 {
  font-size: 24px;
}

/* #endregion */